.ach-list {
  display: flex;
  gap: 2px;
  justify-content: center;
  margin-top: 30px;
  flex-wrap: wrap;
}

.ach-card {
  width: 300px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 18px;
  padding: 14px;
  text-align: center;
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.25);
  transition: transform 0.3s ease;
}

.ach-card:hover {
  transform: translateY(-6px);
}

.ach-card img {
  width: 100%;
  height: 170px;
  border-radius: 12px;
  object-fit: cover;
  margin-bottom: 2px;
}
